.button{
    outline: none;
    padding: 10px 22px;
    text-align: center;
    display: block;
    width: max-content;
    cursor: pointer;
}

.button_gold{
    color: #000000;
    background-color: #ffc900;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 42px;
    margin-bottom: 18px;
    border: none;
    border-radius: 6px;
    width: 187px;
}


.button_deposite{
    width: 110px;
    font-size: 15px;
    margin: 0px 30px 0px 0px;
    border-radius: 3px;
}


@media screen and (max-width: 880px){
    .button_deposite{
        margin: 42px 0px 18px 0px;
    }
}
