.input{
    width: 300px;
    background-color: #fffffd;
    border: none;
    border-radius: 6px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 22px;
}

.input_small{
    width: 48px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 16px;
}

.input_small-date{
    width: 72px;
    padding: 0px;
}

.input_medium{
    width: 175px;
}

.input_gray{
    background-color: #d1d1d0;
}

.input_main-page{
    height: 55px;
}

@media screen and (max-width: 487px){
    .input{
        width: 90%;
    }
}
