.container{
    max-width: 1200px;
    margin: 0px auto;
    padding-left:15px;
    padding-right:15px;
    padding-top:20px;
    padding-bottom: 20px;
}

.container_main-page{
    height: 100vh;
    background: black url("img/main-page.png") no-repeat center / cover;
}

.container_payments{
    width: 140px;
    padding: 5px;
}

.container_inputs{
    width: 300px;
    padding: 10px;
}
