.link{
    text-decoration: none;
}

.link_yellow{
    color: #624d01;
    font-family: Montserrat;
    font-size: 20px;
    text-decoration: underline;
}

.link_yellow-bold{
    color: #ffc900;
    font-family: Montserrat;
    font-size: 24px;
    text-decoration: underline;
    font-weight: bold;
}

.link_yellow-normal{
    color: #ffc900;
    font-family: Montserrat;
    text-decoration: underline;
}

.link_signUp{
    margin-left: 5px;
}

.link_category{
    color: #ffc900;
    font-size: 15px;
    padding: 6px 10px;
}

.link_category:hover{
    background-color: #0f0f0f;
    color: #ffffff;
}

.link_padding-right-10px{
    padding-right: 10px;
}

.link_montserThin{
    font-family: "Montserrat-Thin";
}
