doctype html
html(lang="en")
    include ../blocks/head/head.jade
    body
        include ../blocks/header/header.jade
            
        main
            .container.container_max-width-900px
                .row.row_top-menu
                    .row.row_categories
                        a.link.link_category(href="#") My Account
                        a.link.link_category.link_category-active(href="#") Deposit
                        a.link.link_category(href="#") Widthdrawal
                        a.link.link_category(href="#") Personal Data
                        a.link.link_category(href="#") Account Status
                    a.link.link_yellow-normal.link_padding-right-10px(href="#") Sign out
                
                .row.row_deposit-wrapper
                    .container.container_payments
                    
                        img.container__method(data-method="credit", src="img/cards.png" width="128px")
                        img.container__method(data-method="3d", src="img/cards3d.png" width="128px")
                    
                    .container.container_deposit
                        .row.row_small-smartCards
                            img(src="img/mastercard.png" width="36px")
                            img(src="img/visa.png" width="36px")
                        .row.row_deposit
                            .container.container_inputs.container_width-376px
                                .row.row_input
                                    label(class="container__label") Amount to Deposit:
                                    input(class="input input_medium", type="text")
                                    label(class="container__label container__label-silver") USD
                                    
                                .row.row_input
                                    label(class="container__label") Card Number:
                                    .row.row_card-numbers
                                        input(class="input input_small input_gray", type="text", onkeyup="jump(this);", maxlength="4", size="4")
                                        input(class="input input_small input_gray", type="text", onkeyup="jump(this);", maxlength="4", size="4")
                                        input(class="input input_small input_gray", type="text", onkeyup="jump(this);", maxlength="4", size="4")
                                        input(class="input input_small input_gray", type="text", onkeyup="jump(this);", maxlength="4", size="4")    
                                .row.row_input
                                    label( class="container__label") Name of card holder,
                                        br
                                        | as printed on the card:
                                    input(class="input input_medium", type="text")
                                    
                                .row.row_input.row_input-alignItems-baseline
                                    label( class="container__label") Card’s expiry date:
                                    
                                    .container.container_select
                                        label( class="container__label") Month:
                                        select(class="input input_small-date" style="width:45px")
                                            option(value="1") 1
                                            option(value="2") 2
                                            option(value="3") 3
                                            option(value="4") 4
                                            option(value="5") 5
                                            option(value="6") 6
                                            option(value="7") 7
                                            option(value="8") 8
                                            option(value="9") 9
                                            option(value="10") 10
                                            option(value="11") 11
                                            option(value="12") 12
                                            
                                            
                                    .container.container_select
                                        label( class="container__label") Year:
                                        select(class="input input_small-date")
                                            option(value="1") 2018
                                            option(value="2") 2019
                                            option(value="3") 2020
                                            option(value="4") 2021
                                            option(value="5") 2022
                                            option(value="6") 2023
                                            
                                .row.row_input
                                    label(class="container__label container__label_w_142") CVV: (Last three digits on the back of your card)
                                    img(class="container__svv-img" src="img/cvv.png" width="47px") 
                                    input(type="text" class="input input_small")
                                    
                            .container.container_inputs.container_padding-left-45px
                                .row.row_input
                                    label(class="container__label") First name:
                                    input(class="input input_medium", type="text")
                                .row.row_input
                                    label(class="container__label") Last name:
                                    input(class="input input_medium", type="text")
                                .row.row_input
                                    label(class="container__label") Country:
                                    select(class="input input_medium")
                                .row.row_input
                                    label(class="container__label") City:
                                    input(class="input input_medium", type="text")
                                .row.row_input
                                    label(class="container__label") Address:
                                    input(class="input input_medium", type="text")
                                .row.row_input
                                    label(class="container__label") ZIP Code:
                                    input(class="input input_medium", type="text")
                        .row.row_padding-bottom-85px
                            .container.container_advantages
                                .container__text.container__text_white Your credit card will be charged by "U-crypto"
                                .row.row_ssl
                                    img(class="row__sllImg" src="img/advantages.png")
                                    .container__text.container__text_white SSL Security Certificate -
                                        br
                                        | 2048-bit Strong Encryption
                            button.button.button_gold.button_deposite DEPOSIT
        include ../blocks/footer/footer.jade
