doctype html
html(lang="en")
    include ../blocks/head/head.jade
    body
        include ../blocks/header/header.jade
            
        main
            .container.container_main-page
                .main-page
                    .main-page__title Welcome to U-Crypto trading platform
                    .main-page__already.main-page_montserThin Already have an account? Login below
                    .main-page__input-name Email
                    input.input.input_main-page(type="email")
                    .main-page__input-name Password
                    input.input.input_main-page(type="password")
                    button.button.button_gold LOGIN
                    a.link.link_yellow.link_montserThin Forgot your password?
                    .main-page__dontHave Don’t have an account?
                        a.link.link_yellow-bold.link_signUp Sign up  
                    .main-page__ifTrouble.main-page_montserThin If you have trouble signing in, please 
                        a.link.link_yellow-normal.link_montserThin contact
                        |  our support team.
        include ../blocks/footer/footer.jade
