doctype html
html(lang="en")
    include ../blocks/head/head.jade
    body
        include ../blocks/header/header.jade
            
        main
            .container.container_main-page
                .main-page
                    .main-page__title Welcome to U-Crypto trading platform
                    .main-page__already Already have an account? Login below
                    .main-page__input-name Email
                    input.input(type="email")
                    .main-page__input-name Password
                    input.input(type="password")
                    button.button.button_login LOGIN
                    a.link.link_yellow Forgot your password?
                    .main-page__dontHave Don’t have an account?
                        a.link.link_yellow-bold.link_signUp Sign up  
                    .main-page__ifTrouble If you have trouble signing in, please 
                        a.link.link_yellow-normal contact
                        |  our support team.
        include ../blocks/footer/footer.jade
